# Ignore all outputs
src/outputs/*

# Ignore all latex waste except essential files
src/latex/*
!src/latex/*.tex
!src/latex/*.sty
!src/latex/*.dat

# Ignore all Latex auxiliary files
src/latex/aux_files/*

# Ignore all images except the default ones
src/latex/images/*
!src/latex/images/base/*

# Ignore all Python caches
**/__pycache__

# Keep directories even if empty
!**/.gitkeep
