# Ignore all Latex temp files in main folder
src/*.*
!src/*.tex
!src/*.sty
!src/*.sh
!src/*.dat

# Ignore all Latex output folder contents
src/aux_files/*
src/outputs/*

# Ignore all images except the bundled ones
src/images/*
!src/images/base

# Ignore all Python caches
**/__pycache__

# Keep directories even if empty
!**/.gitkeep
